node_modules/
dist/
coverage/
.env
.env.*
!.env.example
.vercel/
*.log
.DS_Store

# hardhat
contracts/artifacts/
contracts/cache/
contracts/types/
contracts/ignition/deployments/
contracts/deployedAddresses.json
